body{

margin:0;

font-family:Arial,sans-serif;

background:#f2f5fa;

}

header{

background:#0d6efd;

color:white;

text-align:center;

padding:30px;

}

.leaderboard{

width:95%;

margin:30px auto;

overflow-x:auto;

}

table{

width:100%;

background:white;

border-collapse:collapse;

}

th{

background:#0d6efd;

color:white;

padding:15px;

}

td{

padding:15px;

text-align:center;

border-bottom:1px solid #ddd;

}

tr:hover{

background:#f7f7f7;

}